* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-size: 15px;
  color: #000000;
  background: #fff;
  font-family: 'Gotham Pro Regular';
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, li {
  font-family: 'Gotham Pro bold';
}

p, li {
  font-family: 'Gotham Pro Regular';
}

li {
  list-style-type: none;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

main header {
  background: #172f55;
  color: #fff;
  padding: .3rem 0;
}

main header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main header nav .nav-cmn {
  width: 48%;
}

main header nav .nav-left-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main header nav .nav-left-item .logo {
  width: 20%;
}

main header nav .nav-left-item .logo img {
  max-width: 97%;
}

main header nav .nav-left-item .search-bar {
  width: 70%;
  position: relative;
}

main header nav .nav-left-item .search-bar input {
  padding: .8rem .5rem;
  color: #ffffff;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ffffff59;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  width: 100%;
  outline: none;
  background: #00000026;
}

main header nav .nav-left-item .search-bar input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.37);
}

main header nav .nav-left-item .search-bar input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.37);
}

main header nav .nav-left-item .search-bar input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.37);
}

main header nav .nav-left-item .search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.37);
}

main header nav .nav-left-item .search-bar input:focus {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 1px 1px #ffffff;
          box-shadow: 0 0 1px 1px #ffffff;
}

main header nav .nav-left-item .search-bar input:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #ffffffb0;
}

main header nav .nav-left-item .search-bar .srch-icon {
  position: absolute;
  background: #0000001f;
  top: 0;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 .6rem;
  cursor: pointer;
  border-left: 1px solid #5a6577;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main header nav .nav-left-item .search-bar .srch-icon:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main header nav .nav-left-item .search-bar .srch-icon:hover .svg1 {
  -webkit-transform: scale(0.89);
          transform: scale(0.89);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main header nav .nav-left-item .search-bar .srch-icon svg {
  fill: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main header nav .nav-right-item .Nv-item-wrp {
  position: relative;
}

main header nav .nav-right-item .Nv-item-wrp:hover .drop-down {
  -webkit-transition: all 0.3s cubic-bezier(0, 0.74, 0.78, 0.41);
  transition: all 0.3s cubic-bezier(0, 0.74, 0.78, 0.41);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

main header nav .nav-right-item .Nv-item-wrp .drop-down {
  position: absolute;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 200px;
  z-index: 5;
  top: 54px;
  left: -26px;
  background: #172f55;
}

main header nav .nav-right-item .Nv-item-wrp .drop-down ul {
  display: block !important;
}

main header nav .nav-right-item .Nv-item-wrp .drop-down ul li {
  color: #fff;
  display: block !important;
  padding: 1rem 1rem;
  border-bottom: 1px solid #eeeeee45;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main header nav .nav-right-item .Nv-item-wrp .drop-down ul li:hover {
  background: rgba(0, 0, 0, 0.383);
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-left: 1.5rem;
}

main header nav .nav-right-item .Nv-item-wrp .drop-down ul li a {
  text-decoration: none;
  font-size: 1em;
  width: 100%;
  display: inline-block;
  word-spacing: 1px;
}

main header nav .nav-right-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main header nav .nav-right-item ul li a {
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1em;
  word-spacing: 1px;
  line-height: 1.5;
  letter-spacing: .5px;
  padding: 0 0 .3rem;
}

main header nav .nav-right-item ul li a i.fas.fa-angle-down {
  font-size: 13px;
  vertical-align: middle;
}

main header nav .nav-right-item ul li .hvr-underline-from-left::before {
  background: #eee;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main header nav .nav-right-item ul .Login a {
  padding: 0.7rem 0.8rem !important;
  background: #0303031f;
  color: #ffffff !important;
  display: inline-block;
  -webkit-box-shadow: 0 0 2px 1px #ffffff6b;
          box-shadow: 0 0 2px 1px #ffffff6b;
  border-radius: 5px;
}

main header nav .nav-right-item ul .Login .hvr-bounce-to-top:hover {
  color: #172f55 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main header nav .nav-right-item ul .Login .hvr-bounce-to-top:before {
  background: #fff;
  color: #172f55 !important;
  border-radius: 5px;
}

main .Banner_Wrapper {
  width: 100%;
  height: 100%;
}

main .Banner_Wrapper .owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: .3rem;
  border: 2px solid #fff;
  /* position: absolute; */
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Banner_Wrapper .owl-dot:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: .90;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

main .Banner_Wrapper .owl-dots {
  position: absolute;
  bottom: 17px;
  left: 50%;
}

main .Banner_Wrapper button.owl-dot.active {
  border: 2px solid #172f55;
  background: #fff !important;
}

main .Banner_Wrapper .banner-fig-wrp {
  width: 100%;
}

main .Banner_Wrapper .banner-fig-wrp figure {
  width: 100%;
}

main .Banner_Wrapper .banner-fig-wrp figure img {
  max-width: 100%;
}

main .Main-form-wrp {
  margin: 2rem 0;
}

main .Main-form-wrp .child-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

main .Main-form-wrp .child-content .Form-wrp {
  position: absolute;
  bottom: 0px;
  z-index: 5;
  left: calc(0% + 0px);
  background: #fff;
  border-radius: 5px;
  padding: 1rem 0;
  width: 400px;
  -webkit-box-shadow: 0 2px 3px 1px #b7b6b6;
          box-shadow: 0 2px 3px 1px #b7b6b6;
}

main .Main-form-wrp .child-content .Form-wrp .frm-heading h2 {
  font-size: 1.9em;
  text-transform: capitalize;
  color: #172f55;
  word-spacing: 1px;
  padding: .5rem 0;
  -webkit-animation: animebg 24s linear infinite;
          animation: animebg 24s linear infinite;
  background: linear-gradient(45deg, #172f55, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes animebg {
  0% {
    background-position-x: -440px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  50% {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-position-x: 340px;
  }
  100% {
    background-position-x: 440px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

@keyframes animebg {
  0% {
    background-position-x: -440px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  50% {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-position-x: 340px;
  }
  100% {
    background-position-x: 440px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

main .Main-form-wrp .child-content .Form-wrp .Fbtn-tab {
  margin: 1rem 0;
}

main .Main-form-wrp .child-content .Form-wrp .Fbtn-tab ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
}

main .Main-form-wrp .child-content .Form-wrp .Fbtn-tab ul li {
  padding: .7rem 1.5rem;
  border-radius: 5px;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 1em;
  word-spacing: 1px;
  letter-spacing: .5px;
  border: 1px solid #172f55;
  color: #172f55;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 3px 2px #00000014;
          box-shadow: 0 0 3px 2px #00000014;
}

main .Main-form-wrp .child-content .Form-wrp .Fbtn-tab ul li:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: .77;
}

main .Main-form-wrp .child-content .Form-wrp .Fbtn-tab ul .active-btn {
  background: #172f55;
  color: #fff !important;
}

main .Main-form-wrp .child-content .Form-wrp form .Frm1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem 0 1.5rem;
}

main .Main-form-wrp .child-content .Form-wrp form .Frm1 label {
  font-size: 1em;
  text-transform: capitalize;
  word-spacing: 1px;
  letter-spacing: .5px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .Main-form-wrp .child-content .Form-wrp form .Frm1 label input {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: .5rem;
  border-radius: 50%;
  border: 1px solid #172f55;
  vertical-align: text-bottom;
}

main .Main-form-wrp .child-content .Form-wrp form .Frm-cmn input {
  padding: .8rem .5rem;
  width: 100%;
  margin: .5rem 0;
  border-radius: 5px;
  border: 1px solid #999;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Main-form-wrp .child-content .Form-wrp form .Frm-cmn input:hover {
  border: 1px solid #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Main-form-wrp .child-content .Form-wrp form .Frm-cmn input:focus {
  border: inherit;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 2px 1px #172f55;
          box-shadow: 0 0 2px 1px #172f55;
}

main .Main-form-wrp .child-content .Form-wrp form .Frm4 {
  position: relative;
}

main .Main-form-wrp .child-content .Form-wrp form .Frm4 input {
  background: #172f55 !important;
  color: #ffffff !important;
  font-size: 1.1em;
  cursor: pointer;
}

main .Main-form-wrp .child-content .Form-wrp form .Frm4::before {
  content: '';
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.192);
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  border: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Main-form-wrp .child-content .Form-wrp form .Frm4:hover::before {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Main-form-wrp .child-content .ads-section {
  text-align: center;
  width: 63%;
  right: 0;
  margin: 0 0 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

main .Main-form-wrp .child-content .ads-section .addbar figure img {
  cursor: pointer;
  max-width: 100%;
}

main .Features-Wrapper {
  width: 100%;
  margin: 3rem 0 1rem;
}

main .Features-Wrapper .Feaures-content {
  -webkit-box-shadow: 0 0px 4px 2px #99999952;
          box-shadow: 0 0px 4px 2px #99999952;
  padding: 1rem;
  border-radius: 5px;
  margin: 2rem 0;
}

main .Features-Wrapper .Feaures-content .Feature-heading {
  width: 100%;
}

main .Features-Wrapper .Feaures-content .Feature-heading .Top-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .Features-Wrapper .Feaures-content .Feature-heading .Top-heading li {
  font-size: 1.4em;
  text-transform: capitalize;
  color: #000;
  word-spacing: 1px;
  letter-spacing: .5px;
}

main .Features-Wrapper .Feaures-content .Feature-heading .Top-heading li a {
  color: #000;
}

main .Features-Wrapper .Feaures-content .Feature-heading .Feature-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .Features-Wrapper .Feaures-content .Feature-heading .Feature-tab li {
  text-transform: capitalize;
  font-size: 1.1em;
  margin: .7rem 1.6rem 0 0;
  padding: .5rem 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Features-Wrapper .Feaures-content .Feature-heading .Feature-tab li:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #172f55;
}

main .Features-Wrapper .Feaures-content .Feature-heading .Feature-tab .Featur-active {
  cursor: pointer;
  border-bottom: 2px solid #000000;
}

main .Features-Wrapper .Feaures-content .Feature-item-wrp {
  width: 100%;
  padding: 2rem 0 1rem;
}

main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .F-item-cmn {
  width: 90%;
  margin: 0 auto;
}

main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .F-item-cmn figure {
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-align: center;
}

main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .F-item-cmn figure img {
  max-width: 100%;
  border-radius: 10px;
  height: 200px;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .F-item-cmn figure img:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .F-item-cmn figcaption {
  padding: 1rem 0 0;
}

main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .F-item-cmn figcaption h3 {
  font-size: 1.1em;
  text-transform: capitalize;
  word-spacing: 1px;
  letter-spacing: .5px;
  color: #000;
}

main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .F-item-cmn figcaption p {
  font-size: 16px;
  text-transform: capitalize;
  word-spacing: 1px;
  padding: .3rem 0 0;
  color: #727272;
}

main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .owl-next, main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .owl-prev {
  background: #fff !important;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 6px 1px #999;
          box-shadow: 0 0 6px 1px #999;
  position: absolute;
  right: -42px;
  top: 28%;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #172f55;
}

main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .owl-next:hover, main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .owl-prev:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #172f55 !important;
  color: #fff;
}

main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .owl-next span, main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .owl-prev span {
  font-size: 2.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .owl-prev {
  left: -42px !important;
}

main .Features-Wrapper .Feaures-content .Brand-wrp figure {
  height: 120px !important;
}

main .Features-Wrapper .Feaures-content .Brand-wrp figure img {
  height: 120px !important;
  width: 60%;
  margin: 0 auto;
}

main .Features-Wrapper .Feaures-content .Brand-wrp .F-item-cmn {
  text-align: center;
}

main footer {
  width: 100%;
  background: #172f55;
  padding: 2rem 0;
}

main footer .footer-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

main footer .footer-content .ft3 a {
  width: 38%;
  -o-object-fit: cover;
     object-fit: cover;
}

main footer .footer-content .ft2 ul {
  padding: 0rem 0 0 !important;
}

main footer .footer-content .ft-cmn {
  width: 32%;
}

main footer .footer-content .ft-cmn h2 {
  font-size: 1.3em;
  text-transform: capitalize;
  word-spacing: 1px;
  letter-spacing: .5px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
}

main footer .footer-content .ft-cmn ul {
  padding: 1rem 0 0;
}

main footer .footer-content .ft-cmn ul li {
  padding: 0rem 0 1rem;
  color: #fff;
}

main footer .footer-content .ft-cmn ul li a {
  text-transform: capitalize;
  font-size: 1em;
  word-spacing: 1px;
  letter-spacing: .5px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0 0 .4rem;
}

main footer .footer-content .ft-cmn ul li a i.fas.fa-phone {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}

main footer .footer-content .ft-cmn ul li a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: .88;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

main footer .footer-content .ft-cmn ul li .hvr-underline-from-left:before {
  height: 2px;
  background: #fff;
}

main footer .footer-content .ft-cmn ul figure img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main footer .footer-content .ft-cmn ul figure img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main footer .footer-content .ft-cmn .Social-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 0 0;
}

main footer .footer-content .ft-cmn .Social-wrp li a {
  margin: 0 .9rem 0 0;
  border-radius: 50%;
  background: #eee;
  color: #172f55;
  width: 43px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 0 0 !important;
  border: 1px solid #172f55;
  -webkit-box-shadow: 0 0 1px 2px #fff;
          box-shadow: 0 0 1px 2px #fff;
}

main footer .footer-content .ft-cmn .Social-wrp li a i {
  font-size: 1.1em;
}

.CarList-Wrapper .Car-List-wrapper .Top-heading li {
  font-size: 1.5em;
  color: #000;
  text-transform: capitalize;
  word-spacing: 1px;
  letter-spacing: .4px;
  font-family: "Gotham Pro bold";
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp {
  margin: 1.4rem 0 2rem !important;
  padding: 0 0rem 0rem !important;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Feature-tab {
  padding: 1rem 1.4rem 0rem;
  border-bottom: 1px solid #99999978;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Feature-tab li {
  color: #172f55 !important;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Feature-tab li b {
  font-weight: bold;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Feature-tab .Featur-active {
  font-weight: bold;
  color: #000 !important;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: inherit !important;
      -ms-flex-align: inherit !important;
          align-items: inherit !important;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .FItem-wrp li {
  width: 32%;
  padding: .5rem;
  border: 1px solid #99999978;
  border-radius: 5px;
  margin: .5rem 0;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-left {
  width: 73%;
  border-right: 1px solid #99999978;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-left .Feature-tab li {
  margin: 0rem 1.6rem 0 0;
  padding: 0rem 0 .5rem;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-left .Feature-item-wrp {
  padding: 2rem 1.5rem 1rem !important;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-left .F-item-cmn {
  position: relative;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-left .F-item-cmn .heart-wrp {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 21;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-left .F-item-cmn .heart-wrp .Fill-heart .fa-heart {
  color: #c2c2c2;
  cursor: pointer;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-left .F-item-cmn .heart-wrp .Fill-heart .active-heart {
  color: red;
  cursor: pointer;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-left .F-item-cmn figcaption {
  text-align: center !important;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-left .F-item-cmn figcaption h4 {
  font-size: 1.1em;
  padding: .3rem 0;
  word-spacing: 1px;
  text-transform: capitalize;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right {
  width: 26%;
  padding: .5rem;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .right-top-heading h2 {
  font-size: 1.6em;
  text-transform: capitalize;
  line-height: 1.5;
  word-spacing: 1px;
  letter-spacing: .4px;
  padding: .5rem 0;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp {
  border-bottom: 1px solid #cfcfcf;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collape-active .Cplus, .CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collape-active2 .Cplus, .CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collape-active3 .Cplus, .CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collape-active4 .Cplus, .CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collape-active5 .Cplus, .CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collape-active6 .Cplus, .CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collape-active7 .Cplus, .CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collape-active8 .Cplus, .CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collape-active9 .Cplus {
  display: block !important;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collape-active .Cminus, .CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collape-active2 .Cminus, .CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collape-active3 .Cminus, .CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collape-active4 .Cminus, .CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collape-active5 .Cminus, .CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collape-active6 .Cminus, .CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collape-active7 .Cminus, .CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collape-active8 .Cminus, .CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collape-active9 .Cminus {
  display: none;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collap-head {
  padding: .6rem 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collap-head:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: .88;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collap-head .Cplus {
  display: none;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collap-head h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
  font-size: 1.2em;
  color: #172f55;
  word-spacing: 1px;
  letter-spacing: .5px;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collap-head h2 span {
  padding: 0 .5rem 0 0;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collap-head h2 span i {
  font-size: 1em;
  color: #172f55;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collap-head h2 span i:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #000;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collapse-content {
  padding: .1rem 0;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collapse-content form .Cl-cmn01 {
  padding: .5rem 0 0;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collapse-content form .Cl-cmn01 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 .9rem;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collapse-content form .Cl-cmn01 p .Viw-Btn {
  width: 100%;
  text-align: right;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collapse-content form .Cl-cmn01 p a {
  font-size: 1em;
  text-transform: capitalize;
  color: #172f55;
  word-spacing: 1px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  text-align: right;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collapse-content form .Cl-cmn01 p a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #000;
  text-decoration: underline;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collapse-content form .Cl-cmn01 p label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collapse-content form .Cl-cmn01 p label .checkbox {
  width: 14px;
  height: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collapse-content form .Cl-cmn01 p label span {
  font-size: 1em;
  text-transform: capitalize;
  color: #172f55;
  word-spacing: 1px;
  font-weight: bold;
  padding: 0 .5rem 0 .7rem;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collapse-content form .Cl-cmn01 p strong {
  font-size: 1em;
  text-transform: capitalize;
  color: #172f55;
  word-spacing: 1px;
  font-weight: bold;
  padding: 0 .5rem 0 .5rem;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collapse-content form .Cl-cmn01 #Coll-inpt {
  padding: .7rem .5rem;
  text-transform: capitalize;
  font-size: 14px;
  color: #999;
  outline: none;
  width: 85%;
  margin: 0 auto 1rem auto !important;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #999;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collapse-content form .Cl-cmn01 #Coll-inpt:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #000;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp .collapse-content form .Cl-cmn01 #Coll-inpt:focus {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 3px 1px #172f5570;
          box-shadow: 0 0 3px 1px #172f5570;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp2 .collapse-content form .Cl1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp2 .collapse-content form .Cl1 label {
  width: 49%;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp2 .collapse-content form .Cl1 label select {
  padding: .7rem .5rem;
  text-transform: capitalize;
  font-size: 14px;
  color: #999;
  outline: none;
  cursor: pointer;
  width: 85%;
  margin: 0 auto 1rem auto !important;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #999;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp2 .collapse-content form .Cl1 label select option {
  padding: .7rem 0;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp2 .collapse-content form .Cl1 label select:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #000;
}

.CarList-Wrapper .Car-List-wrapper .Car-list-child-wrp .Car-list-Content .car-right .collapse-wrp2 .collapse-content form .Cl1 label select:focus {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 3px 1px #172f5570;
          box-shadow: 0 0 3px 1px #172f5570;
}

.CarList-Wrapper .Car-List-wrapper .Ld-btn {
  width: 100%;
  text-align: center;
  padding: 1rem 0 0;
}

.CarList-Wrapper .Car-List-wrapper .Ld-btn a {
  padding: .9rem 2.5rem;
  border-radius: 5px;
  font-size: 1.3em;
  color: #ffffff;
  background: #172f55;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.CarList-Wrapper .Car-List-wrapper .Ld-btn a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: .80;
}

.BT-top {
  right: 26px;
  bottom: 38px;
  position: fixed;
  z-index: 3;
  display: none;
}

.BT-top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 3px 2px #ffffff38;
          box-shadow: 0px 0px 3px 2px #ffffff38;
  background: #172f55;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #ffffff61;
  text-decoration: none;
}

.BT-top a i {
  color: #fff;
  font-size: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.BT-top a:hover {
  opacity: .77;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 3px 3px #fff;
          box-shadow: 0 0 3px 3px #fff;
}

.BT-top a:hover .fa-angle-up {
  font-size: 1.1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.BikeList-Wrapper {
  width: 100%;
}

.Commercial-Wrapper {
  width: 100%;
}

.Used_bike_Wrapper {
  width: 100%;
}

.Used_bike_Wrapper .Used-bike-wrp .breadcmb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Used_bike_Wrapper .Used-bike-wrp .breadcmb ul li {
  margin: .5rem .5rem 1.2rem 0;
}

.Used_bike_Wrapper .Used-bike-wrp .breadcmb ul li .fa-caret-right {
  font-size: 15px;
  color: #000;
  padding: 0  0 0 .5rem;
}

.Used_bike_Wrapper .Used-bike-wrp .breadcmb ul li a {
  font-size: 1.1em;
  text-transform: capitalize;
  word-spacing: 1px;
  letter-spacing: .5px;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Used_bike_Wrapper .Used-bike-wrp .breadcmb ul li a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #172f55;
  font-weight: bold;
}

.Used_bike_Wrapper .Used-bike-wrp .breadcmb ul li .Usedactive {
  color: #172f55;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Used_bike_Wrapper .Used-bike-wrp .breadcmb ul li .Usedactive:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: .77;
}

.Used_bike_Wrapper .Used-bike-wrp .Used-bike-right .right-top-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Used_bike_Wrapper .Used-bike-wrp .Used-bike-right .right-top-heading h5 {
  font-size: 1em;
  text-transform: capitalize;
  word-spacing: 1px;
  letter-spacing: .5px;
  color: #172f55b3;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.Used_bike_Wrapper .Used-bike-wrp .Used-bike-right .right-top-heading h5:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #000;
}

.Used_bike_Wrapper .Used-bike-wrp .Used-bike-right .right-top-heading .location {
  width: 100%;
  padding: .9rem 0 .5rem;
  position: relative;
}

.Used_bike_Wrapper .Used-bike-wrp .Used-bike-right .right-top-heading .location .LC-Map {
  position: absolute;
  right: 40px;
  top: 24px;
}

.Used_bike_Wrapper .Used-bike-wrp .Used-bike-right .right-top-heading .location .LC-Map i {
  font-size: 1.1em;
  color: #172f55;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  -webkit-animation: Lmapanime 4s linear infinite;
          animation: Lmapanime 4s linear infinite;
}

.Used_bike_Wrapper .Used-bike-wrp .Used-bike-right .right-top-heading .location .LC-Map i:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotateY(180deg) scale(1.1);
          transform: rotateY(180deg) scale(1.1);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  color: #000;
}

@-webkit-keyframes Lmapanime {
  0%, 100% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

@keyframes Lmapanime {
  0%, 100% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.Used_bike_Wrapper .Used-bike-wrp .Used-bike-right .right-top-heading .location input {
  padding: .7rem .5rem;
  text-transform: capitalize;
  font-size: 14px;
  color: #999;
  outline: none;
  width: 85%;
  margin: 0 auto 1rem auto !important;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #999;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Used_bike_Wrapper .Used-bike-wrp .Used-bike-right .right-top-heading .location input:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #000;
}

.Used_bike_Wrapper .Used-bike-wrp .Used-bike-right .right-top-heading .location input:focus {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 3px 1px #172f5570;
          box-shadow: 0 0 3px 1px #172f5570;
}

.Used-car-Wrapper {
  width: 100%;
}

.Used_commercial_Wrapper {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  main header nav .nav-left-item .search-bar {
    width: 78%;
  }
  main header nav .nav-right-item ul li a {
    font-size: 1em;
  }
  main header nav .nav-right-item ul li a i.fas.fa-angle-down {
    font-size: 12px;
    vertical-align: middle;
  }
  main header nav .nav-right-item .Nv-item-wrp .drop-down {
    top: 51px;
    left: -26px;
  }
  main header nav .nav-right-item .Nv-item-wrp .drop-down ul li {
    padding: .8rem 1rem;
  }
  main header nav .nav-right-item ul .Login a {
    padding: .6rem .7rem !important;
  }
  main .Main-form-wrp .child-content .ads-section {
    width: 55%;
  }
  main .Main-form-wrp .child-content .Form-wrp .frm-heading h2 {
    font-size: 1.8em;
    padding: .5rem 0;
  }
  main .Main-form-wrp .child-content .Form-wrp .Fbtn-tab ul li {
    width: 45%;
    padding: .7rem 1.5rem;
    font-size: 1em;
  }
  main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .owl-next, main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .owl-prev, main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .owl-prev {
    width: 42px;
    height: 42px;
    -webkit-box-shadow: 0 0 3px 2px #9999997a;
            box-shadow: 0 0 3px 2px #9999997a;
  }
  main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .owl-next span, main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .owl-prev span, main .Features-Wrapper .Feaures-content .Feature-item-wrp .FItem-wrp .owl-prev span {
    font-size: 1.7em;
  }
}

@media only screen and (max-width: 1024px) {
  main .Main-form-wrp {
    margin: 2rem 0;
    padding: 5rem 0 1rem;
  }
  main .Main-form-wrp .child-content {
    height: 170px;
  }
  main footer .footer-content-wrp .footer-cnt .Ft-Wrp .Ft-cmn01 {
    width: 30%;
    margin: .5rem .2rem;
  }
  main footer .copyright-wrp .copyright-content p {
    font-size: 13px;
    letter-spacing: .5px;
    word-spacing: 2px;
  }
}
/*# sourceMappingURL=style.css.map */