*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 

body{
    font-size: 15px;
    color: #000000; background: #fff;
    font-family: 'Gotham Pro Regular';
    line-height: 1.5;
}
html{
    scroll-behavior: smooth;
}

@import 'mixin';
.container{
    @include container;
}

main{
    header{
        background: #172f55;
        color:#fff;
        padding: .3rem 0;
        nav{
            @include flex;
            justify-content: $between;
            .nav-cmn{
                width: 48%;
            }
            .nav-left-item{
                @include flex;
                justify-content: $between;
                .logo{
                    width: 20%;
                    img{
                        max-width: 97%;
                    }
                }
                .search-bar{
                    width: 70%;
                    position: relative;
                    input{
                        padding: .8rem .5rem;
                        color: $fff;
                        font-size: 15px;
                        border-radius: 5px;
                        border:1px solid #ffffff59;
                        transition: $transition;
                        color: $fff;
                        width: 100%;outline: none;
                        background: #00000026;
                        &::placeholder{
                            color: rgba(255, 255, 255, 0.37);
                        }
                        &:focus{
                            transition: $transition;
                            box-shadow: 0 0 1px 1px $fff;
                        }
                        &:hover{
                            transition: $transition;
                            border:1px solid #ffffffb0;
                        }
                    }
                    .srch-icon{
                        position: absolute;   
                        background: #0000001f;
                        top: 0;
                        right: 0;
                        height: 100%;
                        @include flex;
                        padding: 0 .6rem;cursor: pointer;
                        border-left: 1px solid #5a6577;
                        transition: $transition;
                        &:hover{
                        transition: $transition;
                        .svg1{
                            transform: scale(.89);
                            transition: $transition;
                        }
                        }
                        svg{
                            fill: #fff;
                            cursor: pointer;
                            transition: $transition;
                        }
                    }
                }
            }
            .nav-right-item{
                .Nv-item-wrp{
                    position: relative;
                    &:hover{
                        .drop-down{ 
                            transition: all 0.3s cubic-bezier(0, 0.74, 0.78, 0.41);
                            transform-origin: 0 0;
                            transform: scaleY(1);  
                        }
                    }
                    .drop-down {
                        position: absolute; 
                        transform-origin: 0 0;
                        transform: scaleY(0);
                        transition: $transition; 
                        width: 200px; 
                        z-index: 5;
                        top: 54px; 
                        left:  -26px; 
                        background: #172f55;
                        ul {
                            display: block!important;
                            li { 
                                color: #fff;
                                display: block!important;
                                padding: 1rem 1rem;
                                border-bottom: 1px solid #eeeeee45;
                                transition: $transition;
                                &:hover{
                                    background: rgba(0, 0, 0, 0.383);
                                    color: #fff;
                                    transition: $transition;
                                    // border-left: 3px solid #fff;
                                    padding-left:1.5rem;
                                }
                                a{
                                    text-decoration: none;
                                    font-size: 1em;
                                    width: 100%;display: inline-block;
                                    word-spacing: 1px;
                                }
                            }
                        }
                    }
                }
                ul{
                    @include flex;
                    justify-content:$between;
                    li{
                        a{
                            text-transform: $cap;
                            color: $fff;
                            text-decoration: $none; 
                            font-size: 1.1em;
                            word-spacing: 1px;
                            line-height: 1.5;
                            letter-spacing: .5px;
                            padding: 0 0 .3rem;
                            i.fas.fa-angle-down {
                                font-size: 13px;
                                vertical-align: middle;
                            }
                        }
                        .hvr-underline-from-left{
                            &::before{
                                background: #eee;
                                height: 2px;
                                transition: $transition;
                            }
                        }
                    }
                    .Login{
                        a{
                            padding: .7rem .8rem!important;
                            background: #0303031f;
                            color: #ffffff!important;
                            display: inline-block;
                            box-shadow: 0 0 2px 1px #ffffff6b;
                            border-radius: 5px;
                        }
                        .hvr-bounce-to-top{
                            &:hover{
                                color: $site-color!important;
                                transition: $transition;
                            }
                            &:before{
                                background: #fff;
                                color: $site-color!important;
                                border-radius: 5px;
                            } 
                        }
                    }
                }
            }
        }
    }
    .Banner_Wrapper{
        width: 100%;
        height: 100%;
        .owl-dot {
            width: 15px;
            height: 15px;
            // background: #f44336!important;
            border-radius: 50%;
            margin: .3rem;
            border: 2px solid #fff;
            /* position: absolute; */
            transition: $transition;
            &:hover{
                transition: $transition;
                opacity: .90;
                transform: scale(.90);
            }
        }
        .owl-dots {
            position: absolute;
            bottom: 17px;
            left: 50%;
        }
        button.owl-dot.active { 
            border: 2px solid #172f55;
            background: #fff!important;
        }
         .banner-fig-wrp{
        width: 100%;
        // position:;
        figure{
            width: 100%;
            img{
                max-width: 100%;
            }
        } 
    }
    }
   

    // ---Form--and--Ads---section
    .Main-form-wrp{
        margin: 2rem 0;
        .child-content{
            @include flex;
            justify-content: $between;
            position: relative;
            .Form-wrp{
                    position: absolute;
                    bottom: 0px;z-index: 5;
                    left: calc(0% + 0px);
                    background: #fff;
                    border-radius: 5px;
                    padding: 1rem 0;
                    width: 400px;
                    box-shadow: 0 2px 3px 1px #b7b6b6;
                    .frm-heading{
                        h2{
                            font-size: 1.9em;
                            text-transform: $cap;
                            color:$site-color;
                            word-spacing: 1px;
                            padding: .5rem 0;
                            animation: animebg 24s linear infinite;
                            background: linear-gradient( 45deg
                                , $site-color , #000);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;    
                            @keyframes animebg {
                                0%{
                                    background-position-x: -440px;
                                    transition: $transition;
                                }
                                50%{
                                    transition: $transition;
                                    background-position-x: 340px;
                                }
                                100%{
                                    background-position-x: 440px;
                                    transition: $transition;
                                }
                            }
                        }
                    }
                    .Fbtn-tab{
                        margin: 1rem 0;
                        ul{
                            width: 100%;
                            @include flex;
                            justify-content: $between;
                            // background: #eee;
                            // padding: .5rem;
                            // border: 1px solid #e1e1e1;
                            border-radius: 5px;
                            li{
                                padding: .7rem 1.5rem;
                                border-radius: 5px; 
                                color:$fff;
                                text-transform: $cap;
                                font-size: 1em;
                                word-spacing: 1px;
                                letter-spacing:.5px;
                                border: 1px solid #172f55;
                                color: $site-color;
                                cursor: pointer;   transition: $transition;
                                box-shadow: 0 0 3px 2px #00000014;  
                                &:hover{
                                    transition: $transition;
                                    opacity: .77;
                                }                   
                            }
                            .active-btn{
                                background:#172f55;
                                color: #fff!important;
                            }
                            
                        }
                    }
                    form{
                        .Frm1{
                            @include flex;justify-content: $between;
                            padding: .5rem 0 1.5rem;
                            label{
                                font-size: 1em;
                                text-transform: $cap;
                                word-spacing: 1px;
                                letter-spacing: .5px;
                                color: #000;
                                display: flex;
                                align-items: center;
                            .checkbox {
                                // width: 20px;
                                // height: 20px;
                                // display: inline-block;
                                // border-radius: 50%;
                                // border: 1px solid #999;
                                // vertical-align: sub;
                                // padding: .5rem;
                                // @include flex;
                                // b{
                                //     width: 8px;
                                //     height: 8px;
                                //     background: $site-color;
                                //     border-radius: 50%;
                                // }
                            }
                            input{
                                width: 15px;
                                height: 15px;cursor: pointer;
                                margin-right: .5rem;
                                border-radius: 50%;
                                border: 1px solid #172f55;
                                vertical-align: text-bottom; 
                              }
                            }
                        }
                    .Frm-cmn{
                        input{ 
                            padding: .8rem .5rem;
                            width: 100%;
                            margin: .5rem 0;
                            border-radius: 5px;
                            border: 1px solid #999;
                            outline: none;
                            transition: $transition;
                            &:hover{
                                border: 1px solid #000;
                                transition: $transition;
                            }
                            &:focus{
                                border: inherit;
                                transition: $transition;
                                box-shadow: 0 0 2px 1px #172f55;
                            }
                        }
                    } 
                    .Frm4{
                        position: relative;
                        input{
                            background: $site-color!important;
                            color: $fff!important;
                            font-size: 1.1em;
                            cursor: pointer;
                        }
                        &::before{
                            content: '';
                            width: 0;
                            height: 100%;
                            background: rgba(255, 255, 255, 0.192);
                            position: absolute;
                            top:0;
                            left:0;cursor: pointer;
                            border: 5px;
                            transition: $transition;
                            }
                            &:hover{ 
                                &::before{
                                    width: 100%;
                                    transition: $transition;
                                }
                            }
                    }
                    }
                }
            .ads-section {
                text-align: center;
                width: 63%;
                // border: 1px solid #c5c5c5;
                // padding: 2rem;
                right: 0;
                margin: 0 0 0 auto;
                border-radius: 5px;
                overflow: hidden;
                .addbar{
                    figure{
                        img{
                            cursor: pointer;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
        
    }

//-----Features---section----/0
 .Features-Wrapper{
     width: 100%;
     margin: 3rem 0 1rem;
     .Feaures-content{
        box-shadow: 0 0px 4px 2px #99999952;
        padding: 1rem;
        border-radius: 5px;
        margin: 2rem 0;
         .Feature-heading{
          width: 100%;
          .Top-heading{
              @include flex;
              justify-content: $between;
              li{
                  font-size: 1.4em;
                  text-transform: $cap;
                  color: #000;
                  word-spacing: 1px;
                  letter-spacing: .5px;
                  a{
                      color: #000;
                  }
              }
          }
          .Feature-tab{
              display: flex;
              align-items: center;
              li{ 
                  text-transform: $cap;
                  font-size: 1.1em;
                  margin: .7rem 1.6rem 0 0; 
                  padding: .5rem 0;
                  cursor: pointer;
                  transition: $transition;
                  &:hover{
                      transition: $transition;
                       color:$site-color;
                  }
              }
              .Featur-active{
                  cursor: pointer;
                  border-bottom: 2px solid #000000;
              }
          }
         }
         .Feature-item-wrp{
             width: 100%;
             padding: 2rem 0 1rem;
             .FItem-wrp{
                 @include flex;
                 justify-content: $between;
                 .F-item-cmn{
                    width: 90%;
                    margin: 0 auto;
                     figure{
                        width: 100%;
                        height: 200px;
                        overflow: hidden; 
                        text-align: $mid;
                         img{
                             max-width: 100%;
                             border-radius: 10px;
                             height: 200px;
                             object-fit: fill;
                             transition: $transition;
                             &:hover{
                                 transition: $transition;
                                 transform: scale(1.1);
                             }
                         }
                     }
                     figcaption{
                        padding:1rem 0 0;
                        h3{
                            font-size: 1.1em;
                            text-transform: $cap;
                            word-spacing: 1px;
                            letter-spacing: .5px;
                            color:#000;
                        }
                        p{
                            font-size: 16px;
                            text-transform: $cap;
                            word-spacing: 1px; 
                            padding: .3rem 0 0;
                            color: rgb(114, 114, 114);
                        }
                     }
                 }
                 .owl-next {
                    background: #fff!important;
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    box-shadow: 0 0 6px 1px #999;
                    position: absolute;
                    right: -42px;
                    top: 28%;//50%;
                    outline: none;
                    @include flex;
                    transition: $transition;
                    color: #172f55;
                    &:hover{
                        transition: $transition;
                        background: $site-color!important;
                        color: #fff; 
                    }
                    span{
                        font-size:2.1em; 
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;height: 100%; 
                        border-radius: 50%;
                        // border: 1px solid; 
                    }
                 }
                 .owl-prev{
                    @extend .owl-next;
                    left: -42px!important;
                 }
             }
         }
         .Brand-wrp{
             figure{
                 height: 120px!important;
                 img{
                     height: 120px!important;
                     width: 60%;
                     margin: 0 auto;
                 }
             }
             .F-item-cmn{
                 text-align: center;
             }
         }
     }
 }
//Features---section----end--here
  footer{
      width: 100%;
      background: #172f55;
      padding: 2rem 0;
      .footer-content{
          width: 100%;
          @include flex;
          justify-content: $between;
          align-items: inherit;
          .ft3{
            a{width: 38%;
                object-fit: cover;}
        }
          .ft2{
              ul{
                padding: 0rem 0 0!important;
              }
          }
          .ft-cmn{
              width: 32%;
              h2{
                  font-size:1.3em;
                  text-transform: $cap;
                  word-spacing: 1px;
                  letter-spacing: .5px;
                  line-height: 1.5;
                  color: #fff; 
                  text-transform: $upper;
              }
              ul{
                  padding: 1rem 0 0;
                  li{
                      padding: 0rem 0 1rem;
                      color: #fff;
                      a{
                        i.fas.fa-phone {
                            transform: rotate(  108deg
                        );
                         }
                          text-transform: $cap;
                          font-size: 1em;
                          word-spacing: 1px;
                          letter-spacing: .5px;
                          color: #fff;
                          text-decoration: none;
                          transition: $transition;
                          padding: 0 0 .4rem;
                          &:hover{
                            transition: $transition;
                            opacity: .88;
                            transform: scale(.95);
                          }
                      }
                      .hvr-underline-from-left{
                          &:before{
                              height: 2px;
                              background: #fff;
                          }
                      }
                  }
                  figure{
                      img{
                        max-width: 100%;// 36%;
                        transition: $transition;
                        &:hover{
                            transform: scale(1.1);
                            transition: $transition;
                        }
                      }
                  }
              }
             
              .Social-wrp{
                  @include flex;
                  justify-content:flex-start;
                  padding: 1rem 0 0;
                  li{
                      a{
                        //   padding: .7rem .7rem;
                          margin: 0 .9rem 0 0;
                        //   display: inline-block;
                          border-radius: 50%;
                          background: #eee;
                          color:#172f55;
                          width: 43px;
                          height: 43px;
                          @include flex;
                          padding: 0 0 0 0!important;
                          border: 1px solid #172f55;
                          box-shadow: 0 0 1px 2px #fff;
                          i{
                              font-size: 1.1em;
                          }
                      }
                  }
              }
          }
      }
  }
}

// ------Car--list---page---//
.CarList-Wrapper{
    .Car-List-wrapper{
        .Top-heading{
            li{
                font-size: 1.5em;
                color: #000;
                text-transform: $cap;
                word-spacing: 1px;
                letter-spacing: .4px;
                font-family: $heading;
            }
        }
        .Car-list-child-wrp{
            margin: 1.4rem 0 2rem!important;
            padding: 0 0rem 0rem!important;
            .Feature-tab{
                padding: 1rem 1.4rem 0rem;
                border-bottom: 1px solid #99999978;
                li{
                    color: #172f55!important;
                    b{
                        font-weight: bold;
                    }
                }
                .Featur-active{
                    font-weight: bold;
                    color: #000!important;
                }
            }
           .Car-list-Content{
               @include flex;
               justify-content: $between;
               align-items: inherit!important;
               .FItem-wrp{
                   li{
                       width: 32%;
                       padding: .5rem;
                       border: 1px solid #99999978;
                       border-radius: 5px;
                       margin: .5rem 0;
                   }
               }
               .car-left{
                   width: 73%; 
                //    padding: 0 .5rem 0;
                   border-right: 1px solid #99999978;
                   .Feature-tab  {
                        li{
                            margin: 0rem 1.6rem 0 0;
                            padding: 0rem 0 .5rem;
                        }
                    }
                    .Feature-item-wrp{
                        padding: 2rem 1.5rem 1rem!important;
                    }
                   .F-item-cmn{
                       position: relative;
                       .heart-wrp{
                           position: absolute;
                           right: 10px;
                           top: 10px;
                           z-index: 21;
                        //    .blank-heart{
                        //        i{
                        //         color: red;
                        //         cursor: pointer;
                        //         font-size:1.2em;
                        //        }
                        //    }
                           .Fill-heart{  
                               .fa-heart{
                                   color: #c2c2c2;
                                   cursor: pointer;
                               }
                               .active-heart{
                                   color: red;
                                   cursor: pointer;
                               }
                            // svg{
                            //     // fill: #c2c2c2;
                            //     path{
                            //         fill: #c2c2c2;
                            //         cursor: pointer;
                            //     }
                            // }
                            //    i{
                            //     font-size:1.2em;
                            //     color: red;
                            //     cursor: pointer; 
                            //    }
                           }
                       }
                       figcaption{
                           text-align: center!important;
                           h4{
                               font-size: 1.1em;
                               padding: .3rem 0;
                               word-spacing: 1px;
                               text-transform: $cap;
                           }
                       }
                   }
               }
               .car-right{
                   width: 26%; 
                //    height: 100vh;
                   padding: .5rem;
                   .right-top-heading{
                       h2{
                           font-size:1.6em;
                           text-transform: $cap;
                           line-height: 1.5;
                           word-spacing: 1px;
                           letter-spacing: .4px;
                           padding: .5rem 0;
                       }
                   }
                   .collapse-wrp{
                    border-bottom: 1px solid #cfcfcf;
                    .collape-active,.collape-active2,.collape-active3,.collape-active4
                    ,.collape-active5,.collape-active6,.collape-active7,.collape-active8,.collape-active9{ 
                        .Cplus{
                            display: block!important; 
                        } 
                        .Cminus{
                            display: none;
                        }
                    }
                     .collap-head{
                         padding: .6rem 0;
                         cursor: pointer;
                         transition: $transition;
                         &:hover{
                             transition: $transition;
                             opacity: .88;
                             transform: scale(.99);
                         }
                         .Cplus{
                             display: none; 
                         }
                         h2{
                             display: flex;
                             span{
                                padding: 0 .5rem 0 0;
                                 i{
                                     font-size: 1em;
                                     color: #172f55;
                                     transition: $transition;
                                     &:hover{
                                        transition: $transition;
                                        color: #000;
                                     }
                                 }
                             }
                             text-transform: $cap;
                             font-size: 1.2em;
                             color: #172f55;
                             word-spacing: 1px;
                             letter-spacing: .5px;
                         }
                     }  
                     .collapse-content{
                         padding:.1rem 0;
                         form{
                             .Cl-cmn01{
                                 padding: .5rem 0 0;
                               p{
                                @include flex;
                                 justify-content: $between;
                                 margin: 0 0 .9rem;
                                 .Viw-Btn{
                                     width: 100%;
                                     text-align: right;
                                 }
                                 a{
                                    font-size: 1em;
                                    text-transform: $cap;
                                    color: #172f55;
                                    word-spacing: 1px;
                                    font-weight: bold;
                                    // padding: 0 .5rem;
                                    transition: $transition;
                                    text-decoration: none;
                                    text-align: right;
                                    &:hover{
                                        transition: $transition;
                                        color: #000;
                                        text-decoration: underline;
                                    } 
                                 }
                                 label{
                                     display: flex;
                                     align-items: center;
                                     .checkbox{
                                         width: 14px;
                                         height: 14px;
                                         border-radius: 5px;
                                         cursor: pointer;
                                     }
                                     span{
                                       font-size: 1em;
                                       text-transform: $cap;
                                       color: #172f55;
                                       word-spacing: 1px;
                                       font-weight: bold;
                                       padding: 0 .5rem 0 .7rem;
                                     }
                                 }
                                 strong{
                                    font-size: 1em;
                                    text-transform: $cap;
                                    color: #172f55;
                                    word-spacing: 1px;
                                    font-weight: bold;
                                    padding: 0 .5rem 0 .5rem;
                                 }
                               }
                                 #Coll-inpt{
                                     padding: .7rem .5rem;
                                     text-transform: $cap;
                                     font-size: 14px;
                                     color: #999; 
                                     outline: none;
                                     width: 85%;
                                     margin: 0 auto 1rem auto!important;
                                     border-radius: 10px;
                                     display: flex;
                                     justify-content: center;
                                     border: 1px solid #999;
                                     transition: $transition;
                                     &:hover{
                                        transition: $transition;
                                        border:1px solid #000;
                                     }
                                     &:focus{
                                         transition: $transition;
                                         box-shadow:0 0 3px 1px #172f5570
                                     }
                                 } 
                             }
                         }
                     }
                   }

                // -----2nnnd--
                .collapse-wrp2{
                    .collapse-content{
                        form{
                            .Cl1{
                                @include flex;
                                justify-content: $between;
                                label{
                                    width: 49%;
                                    select{ 
                                     padding: .7rem .5rem;
                                     text-transform: $cap;
                                     font-size: 14px;
                                     color: #999; 
                                     outline: none;cursor: pointer;
                                     width: 85%;
                                     margin: 0 auto 1rem auto!important;
                                     border-radius: 10px;
                                     display: flex;
                                     justify-content: center;
                                     border: 1px solid #999;
                                     transition: $transition;
                                     option{
                                         padding: .7rem 0;
                                     }
                                     &:hover{
                                        transition: $transition;
                                        border:1px solid #000;
                                     }
                                     &:focus{
                                         transition: $transition;
                                         box-shadow:0 0 3px 1px #172f5570
                                     }
                                    }
                                }
                            }
                        }
                    }
                }
                // ----2nd--end---here
               }
           } 
        }

        // <!--More--btn-->
         .Ld-btn{
             width: 100%;
             text-align: center;
             padding: 1rem 0 0;
             a{
              padding: .9rem 2.5rem;
              border-radius: 5px;
              font-size: 1.3em;
              color: $fff;
              background: $site-color;
              text-transform: $cap;
              text-decoration: none;
              transition: $transition;
              &:hover{
                transition: $transition;
                opacity: .80;
              }
             }
         }
        // <!-end--here-More--btn-->
    }
}
// -----Car--list--Page-end--here---//

// -----botttunm-----top-----
.BT-top {
    right: 26px;
    bottom: 38px;
    position: fixed;
    z-index: 3;
    display: none;
    a { 
        @include flex;
        width: 45px;
        height: 45px;
        border-radius: 50%; 
        box-shadow: 0px 0px 3px 2px #ffffff38;
        background:$site-color; 
        transition: $transition;
        border: 1px solid #ffffff61;
        text-decoration: $none;
        i {
            color: #fff;
            font-size: 15px;
            transition: $transition;
        }
        &:hover {
            opacity: .77;
            transition: $transition;
            box-shadow: 0 0 3px 3px #fff;
            .fa-angle-up {
                font-size: 1.1em; 
                transition: $transition;
            }
        }
    }
}
// butttonnnn----top----end-----here-----







// ------Bike--list---page---//
.BikeList-Wrapper{
width: 100%;
}
// -----Bike--list--Page-end--here---//
// ------Commercial--list---page---//
.Commercial-Wrapper{
    width: 100%;
}
// -----Commercial--list--Page-end--here---//

// -----Used-Bike--list---page---//
.Used_bike_Wrapper{
    width: 100%;
    .Used-bike-wrp{
        .breadcmb{
            ul{
                @include flex;
                justify-content: flex-start;
                li{
                    margin: .5rem .5rem 1.2rem 0;
                    .fa-caret-right{
                        font-size: 15px;
                        color: #000;
                        padding: 0  0 0 .5rem;
                    }
                  a{
                    font-size: 1.1em;
                    text-transform: $cap;
                    word-spacing: 1px;
                    letter-spacing: .5px;
                    text-decoration: $none;
                    color: #000;
                    transition: $transition;
                    &:hover{
                        transition: $transition;
                        color: #172f55;
                        font-weight: bold;
                    }
                  }
                  .Usedactive{
                    color: #172f55;
                    font-weight: bold;
                    transition: $transition;
                    &:hover{
                        transition: $transition;
                        opacity: .77;
                    }
                  }
                }
            }
        }
        .Used-bike-right{
            .right-top-heading{
                @include flex;
                justify-content: $between;
                h5{
                    font-size: 1em;
                    text-transform: $cap;
                    word-spacing: 1px;
                    letter-spacing: .5px;
                    color: #172f55b3;
                    transition:$transition;
                    cursor: pointer;
                    &:hover{
                        transition:$transition;
                        color: #000;
                    }
                }
                .location{
                    width: 100%; padding: .9rem 0 .5rem;
                    position: relative;
                    .LC-Map{
                        position: absolute;
                        right: 40px;
                        top: 24px;
                        i{
                            font-size: 1.1em;
                            color: #172f55;
                            transition: $transition;
                            cursor: pointer;
                            animation: Lmapanime 4s linear infinite; 
                            &:hover{
                                transition: $transition; 
                                transform: rotateY(180deg)scale(1.1); 
                                animation-play-state: paused;
                                color: #000;
                            }
                            @keyframes Lmapanime {
                                0%,100%{
                                    transform: translateY(3px);
                                    transition: $transition;
                                }
                                50%{
                                    transform: translateY(-3px); 
                                    transition: $transition;
                                }
                            }
                        }
                    }
                    input{ 
                        padding: .7rem .5rem;
                        text-transform: $cap;
                        font-size: 14px;
                        color: #999; 
                        outline: none;
                        width: 85%;
                        margin: 0 auto 1rem auto!important;
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        border: 1px solid #999;
                        transition: $transition;
                        &:hover{
                            transition: $transition;
                            border:1px solid #000;
                        }
                        &:focus{
                            transition: $transition;
                            box-shadow:0 0 3px 1px #172f5570
                        } 
                    }
                }
            }
        }
    }
 }
// ----Used-Bike--list--Page-end--here---//


// -----Used-car--list---page---//
.Used-car-Wrapper {
    width: 100%;
}
// ----Used-car--list--Page-end--here---//
// -----Used-commercial--list---page---//
.Used_commercial_Wrapper {
    width: 100%;
}
// ----Used-commercial--list--Page-end--here---//

@import 'media';
